---
import Section from "../Section.astro";

import { skills } from "@cv";
---

<Section title="Skills">
    <ul>
        {
            skills.map(({ name }) => (
                <li>{name}</li>
            ))
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
        padding-bottom: 32px;
    }
    li {
        border-radius: 6px;
        background: #eee;
        color: black;
        font-size: 0.8rem;
        padding: 0.2rem 0.6rem;
    }
</style>