---
import Layout from "@/layouts/Layout.astro";

import Experience from "@/components/sections/Experience.astro";
import About from "@/components/sections/About.astro";
import Projects from "@/components/sections/Projects.astro";
import Hero from "@/components/sections/Hero.astro";
import Skills from "@/components/sections/Skills.astro";
import Education from "@/components/sections/Education.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Certificates from "@/components/sections/Certificates.astro";
import Languages from "@/components/sections/Languages.astro";

import { basics} from "@cv"
const { name, keyword } = basics
---


<Layout title={`Portafolio de ${name} - ${keyword}`}
	<main>
		<Hero />
		<About />
		<Experience />
		<Certificates />
		<Education />
		<Projects />
		<Languages />
		<Skills />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
